
.outer__container{
  padding: 3% 10%;
}

.theQuestion{
 width: 100%;
}
.theQuestion .title {
  font-weight: bold;
  font-size: 3rem;
}
.theQuestion .Qtitle {
  font-size: 2rem;
}
.theQuestion p {
  font-size: 1.5rem;
}

.community_answer{
  width: 100%;
  margin: 2% 0;
}

.community_answer .title {
  font-weight: bold;
  font-size: 2rem;  
  padding: 2% 0;
}
.answers_container{
  padding: 2% 0;;
}
.singleAnswer{
  display: flex;
  padding: 10px 0;
  gap: 5%;
}
.singleAnswer .usericon {
  color: #1e3a5f;
  transition: color 0.3s ease;
  margin-bottom: 2px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.theAnswer{
  display: flex;
  align-items: center;
}





.answer__box {
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 10px rgb(252, 250, 250);
  border-radius: 20px;
  width: 100%;
  margin: 50px auto;
  padding: 5%;
  text-align: center;
}

a {
  text-decoration: none;
  color:rgb(156, 156, 156);
}
.answerform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


::placeholder {
  text-align: start;
}
textarea {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  padding: 10px 10px;
}


input,
textarea {
  border: 1px solid rgb(156, 156, 156);
  font-size: 18px;
}



.answerBtn {
  border: none;
  background-color: var(--primary-blue);
  color: var(--white);
  height: 4rem;
  width: 15rem;
  border-radius: 5px;
  margin: 2% 0;
}
.answerBtn:hover {
  background-color: var(--accent);
}



.success__msg {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #e6ffed; 
  border: 2px solid var(--success); 
  border-radius: 20px;
  text-align: center;
  color: var(--success); 
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(46, 204, 113, 0.3);
}


.thanks_note {
  margin-bottom: 15px;
  font-size: 1.5rem;
}


.nav_to {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 25px;
  color: #fff;
  background-color: var(--primary);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.nav_to:hover {
  background-color: var(--accent);
}






/* For tablets and phones (max-width 768px) */
@media (max-width: 768px) {
  .answer__box{
    padding: 0;
  }
 
}

/* For phones (max-width 576px) */
@media (max-width: 576px) {
  
}
