DB_HOST=localhost
DB_USER=evangadi_admin
DB_PASSWORD=your_password_here
DB_NAME=evangadi_forum
DB_CONNECTION_LIMIT=10
PORT=5400
JWT_SECRET=your_jwt_secret_here

EMAIL_USER=yilakmuluneh@gmail.com
EMAIL_PASSWORD=tbjl sycf tcab ajxp


