
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 12px;
}
.loginForm {
  background: var(--light-bg);
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.07);
  padding: 150px 30px 40px 30px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 600px;
  max-height: 700px;
}
.loginTitle {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
  color: var(--text-dark);
}

.createAccountPrompt {
  text-align: center;
  font-size: 1.6rem;
  color: var(--text-gray);
  margin-bottom: 5px;
}

.createAccountLink {
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}

.createAccountLink:hover {
  text-decoration: underline;
  cursor: pointer;
}



.formGroup label {
  font-size: 1.4rem;
  color: var(--text-dark);
  margin-bottom: 0.3rem;
}

.formGroup input {
  width: 100%;
  padding: 9px 10px;
  border: 1px solid var(--border);
  border-radius: 7px;
  font-size: 1.4rem;
  background: var(--white);
  color: var(--text-dark);
  outline: none;
  transition: border 0.2s;
  box-shadow: none;
}

.formGroup input::placeholder {
  color: #B0B0B0;
  font-size: 1.2rem;
}

.formGroup input:focus {
  border: 1.5px solid var(--primary-blue);
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.1);
}

.passwordInputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.passwordInputWrapper input {
  padding-right: 2.8rem;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--text-gray);
  user-select: none;
  display: flex;
  align-items: center;
}

.submitButton {
  width: 40%;
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 7px;
  padding: 9.5px 0;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px auto;
  cursor: pointer;
  transition: filter 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}

.submitButton:hover {
  filter: brightness(0.9);
}

.createAccountLinkBottom {
  text-align: center;
  font-size: 1.2rem;
  color: var(--accent);
  text-decoration: underline;
  margin-top: 7px;
  font-weight: 500;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .loginContainer {
    padding: 30px 20px;
    max-width: 95vw;
  }
  .formGroup input {
    font-size: 1.4rem;
    padding: 7px;
  }
  .loginTitle {
    font-size: 2.2rem;
  }
}
